{
  "extends": "airbnb",
  "rules": {
    "arrow-parens": [2, "always"],
    "func-names": "off",
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/control-has-associated-label": 0,
    "no-alert": "off",
    "no-console": "off",
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "prefer-arrow-callback": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/jsx-fragments": "off",
    "react/prefer-stateless-function": 0,
    "react/require-default-props": "off"
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
