.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-logo-min {
  height: 5vmin;
  margin: auto 0;
  pointer-events: none;
}

.Card {
  align-items: flex-start;
  background: grey;
  border-radius: 5%;
  box-shadow: black;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  height: 60vh;
  justify-content: center;
  width: 40vw;
}

.Card .HeaderCard {
  flex: 0 1 auto;
  background: red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
