.Container , .Card , .HeaderCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Container {
  min-height: 100vh;
}

.Card {
  background: rgb(118, 130, 155);
  border-radius: 5%;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
  flex: 0 0 auto;
  height: 500px;
  width: 500px;
}

.Card > ul {
  height: 180px;
  width: 300px;
  overflow-y: scroll;
  list-style: none;
  margin: 35px 0;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
}

.HeaderCard {
  margin: 0;
  height: 100px;
  padding: 0;
}

.HeaderCard > h1 {
  font-family: Bungee Inline, cursive;
  color: black;
  margin: 0;
  padding: 0;
}

.HeaderCard > img {
  height: 80%;
  margin: 0;
}
